.dunzo-img {
    width: 145px !important;
    height: 35px;
}

.navbrand-custom {
    padding: 15px;
    text-align: center;
    width: 100%;
}

.partner {
    margin: 0px 8px;
}

.border {
    border: 1px solid white;
    color: white;
}